/* ==========================================================================
   Default skin
   ========================================================================== */

/* system typefaces */
$serif: Georgia, Times, serif !default;
$sans-serif: -apple-system, BlinkMacSystemFont, "Roboto", "Segoe UI",
  "Helvetica Neue", "Lucida Grande", Arial, sans-serif !default;
$monospace: "Fira Code", Monaco, Consolas, "Lucida Console", monospace !default;

$global-font-family: $sans-serif !default;
$header-font-family: $serif !default;
$caption-font-family: $serif !default;

/* colors */
$primary-color: mix(#0092ca, #000, 45%) !default;
$background-color: mix(#0092ca, #fff, 3%) !default;
$footer-background-color: mix(#0092ca, #fff, 20%) !default;
$link-color: mix(#0092ca, #fff, 83%) !default;
